/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Loading Screen Styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-screen p {
    color: black;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    margin: 0;
}

/* Container Cover Styles */
.container-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.container-cover,
.container-cover:focus,
.container-cover:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

.container-cover img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    object-fit: cover;
    object-position: top;
    z-index: 2;
    animation: fadeInOut1 10s infinite;
    will-change: opacity;
}

.container-cover img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    object-fit: cover;
    object-position: top;
    z-index: 1;
    animation: fadeInOut2 10s infinite;
    will-change: opacity;
}

@keyframes fadeInOut1 {

    0%,
    48% {
        opacity: 1;
    }

    48%,
    50% {
        opacity: 0;
    }

    50%,
    98% {
        opacity: 0;
    }

    98%,
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut2 {

    0%,
    48% {
        opacity: 0;
    }

    48%,
    50% {
        opacity: 1;
    }

    50%,
    98% {
        opacity: 1;
    }

    98%,
    100% {
        opacity: 0;
    }
}

.container-cover .content-cover {
    position: absolute;
    bottom: 20%;
    text-align: center;
    width: 100%;
    height: auto;
    z-index: 3;
}

@font-face {
    font-family: 'Storytelling Regular';
    src: url('Elemen/Font/Storytelling%20Regular.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

.content-cover h1 {
    color: white;
    font-size: 55px;
    margin: -10px;
    font-family: 'Storytelling Regular', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.content-cover .tanggal {
    color: white;
    font-size: 18px;
    margin: 10px;
    font-family: Arial, sans-serif;
}

.content-cover .Kepada {
    color: white;
    font-size: 16px;
    margin: 10px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.content-cover .nama-tamu {
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.content-cover button[type="button"] {
    border: 1px solid rgb(97, 150, 104);
    border-radius: 30px;
    background: rgb(97, 150, 104);
    color: white;
    padding: 8px 40px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

.container-cover button[type="button"]:active {
    background: rgb(79, 122, 84);
    border: 1px solid rgb(79, 122, 84);
}

/* Wave Animation Styles */
.container-cover .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('Elemen/Elemen%20Pendukung/wave.png');
    background-size: 1000px 100px;
}

.container-cover .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: -30px;
    will-change: background-position;
}

.container-cover .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: -20px;
    will-change: background-position;
}

.container-cover .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: -15px;
    will-change: background-position;
}

.container-cover .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: -10px;
    will-change: background-position;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

/* Invitation Section Styles */
#invitation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #f7eee5;
}

@font-face {
    font-family: 'Brigitte Eigner';
    src: url('Elemen/Font/Brigitte%20Eigner.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

#invitation h1 {
    font-family: 'Brigitte Eigner', cursive;
    margin-top: 40px;
    font-size: 75px;
    color: rgba(199, 163, 93);
}

#invitation .ucapan1 {
    margin-top: -50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
}

.foto-pasangan {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 280px;
    max-width: 100%;
    background-color: #f7eee5;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
}

.pasangan-laki-laki .mempelai-laki-laki,
.pasangan-perempuan .mempelai-perempuan {
    width: 280px;
    height: 280px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 8;
}

.pasangan-laki-laki {
    margin-left: -30px;
}

.pasangan-perempuan {
    margin-top: -20px;
    margin-right: 30px;
}

.pasangan-laki-laki,
.pasangan-perempuan {
    max-width: 380px;
}

@font-face {
    font-family: 'Greenlight Script';
    src: url('Elemen/Font/Greenlight%20Script.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

.foto-pasangan h2 {
    font-family: 'Greenlight Script', cursive;
    font-size: 30px;
    color: rgba(199, 163, 93);
}

.foto-pasangan p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
}

/* Balinese Mantra Section Styles */
.balinese-mantra {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1.5;
    background-color: #cfcdcd;
    box-sizing: border-box;
    padding: 20px;
}

.mantra-text {
    flex-direction: column;
    color: #333;
    max-width: 1000px;
    font-style: italic;
}

.mantra, .translation-text {
    font-size: 16px;
}

.mantra-text img {
    margin-top: 15px;
    width: 80px;
    height: auto;
    -webkit-user-drag: none;
    margin-bottom: 5px;
    user-select: none;
    -moz-user-select: none;
    transform: rotate(10deg);
}

.mantra-kitab {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Event Details Section Styles */
.detail-acara {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #f7eee5;
    padding-bottom: 40px;
}

.detail-acara,
.detail-acara:focus,
.detail-acara:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

.acara-detail {
    max-width: 1100px;
    box-sizing: border-box;
}

.detail-acara .text-acara {
    margin-top: 50px;
    font-size: 40px;
    color:  #333;
}

.acara-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.pawiwahan-text, .resepsi-text {
    justify-self: center;
    font-size: 16px;
    max-width: 420px;
    color: #333;
}

.acara-pawiwahan, .acara-resepsi {
    border-radius: 10px;
    width: 500px;
    height: auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.acara-pawiwahan img, .acara-resepsi img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    object-fit: cover;
}

.acara-pawiwahan img {
    object-position: calc(50%) calc(65%);
}

.acara-resepsi img {
    object-position: calc(50%) calc(20%);
}

.acara-pawiwahan button[type="button"], .acara-resepsi button[type="button"] {
    border: 1px solid rgb(97, 150, 104);
    border-radius: 30px;
    background: rgb(97, 150, 104);
    color: white;
    padding: 8px 40px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
    margin-bottom: 25px;
}

.acara-pawiwahan button[type="button"]:active, .acara-resepsi button[type="button"]:active {
    background: rgb(79, 122, 84);
    border: 1px solid rgb(79, 122, 84);
}

.time-acara {
    margin-top: 40px;
    font-size: 16px;
    color: #333;
}

.time-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.time-item {
    background: rgb(97, 150, 104);
    color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    user-select: none;
    -moz-user-select: none;
}

.time-number {
    margin-top: 20px;
    font-size: 25px;
}

.time-label {
    margin-top: -20px;
    font-size: 15px;
    margin-bottom: 15px;
}

.penutup-acara {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 900px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.nama-orang-tua {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: -10px;
    gap: 230px;
}

/* Responsive Media Quey Style */
@media (max-width: 197px) {
    .container-cover .wave {
        display: none;
    }

    .container-cover .content-cover {
        bottom: 10%;
    }

    .content-cover h1 {
        font-size: 20px;
        margin: 5px;
    }

    .content-cover .tanggal {
        font-size: 10px;
        margin: 5px;
    }

    .content-cover .Kepada {
        font-size: 10px;
        margin: 5px;
    }

    .content-cover .nama-tamu {
        font-size: 10px;
        margin: 5px;
    }

    .content-cover button[type="button"] {
        padding: 5px 20px;
        font-size: 8px;
    }
}

@media (max-width: 767px) {
    #invitation h1 {
        margin-top: 20px;
        font-size: 63px;
    }

    #invitation .ucapan1 {
        margin-top: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .foto-pasangan {
        flex-direction: column;
        gap: 20px;
        padding-left: 30px;
    }

    .pasangan-laki-laki p,
    .pasangan-perempuan p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pasangan-laki-laki .mempelai-laki-laki,
    .pasangan-perempuan .mempelai-perempuan {
        width: 250px;
        height: 250px;
    }

    .detail-acara .text-acara {
        font-size: 35px;
    }

    .acara-box {
        flex-direction: column;
        gap: 30px;
    }

    .acara-pawiwahan,
    .acara-resepsi {
        width: 350px;
    }

    .acara-pawiwahan img,
    .acara-resepsi img {
        height: 300px;
    }

    .pawiwahan-text,
    .resepsi-text {
        max-width: 280px;
    }

    .time-box {
        margin-top: -10px;
        gap: 20px;
    }

    .time-item {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: -8px;
        padding-bottom: -8px;
    }

    .pawiwahan-text,
    .resepsi-text {
        font-size: 15px;
    }

    .time-label {
        font-size: 14px;
    }

    .time-number {
        font-size: 22px;
    }

    .penutup-acara {
        margin-top: 5px;
        max-width: 350px;
    }

    .nama-orang-tua {
        gap: 90px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .container-cover .wave {
        display: none;
    }

    #invitation .ucapan1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container-cover .content-cover {
        bottom: 10%;
    }

    #invitation h1 {
        font-size: 58px;
    }

    .pasangan-laki-laki .mempelai-laki-laki,
    .pasangan-perempuan .mempelai-perempuan {
        width: 230px;
        height: 230px;
    }

    .detail-acara .text-acara {
        font-size: 30px;
    }

    .acara-pawiwahan,
    .acara-resepsi {
        width: 295px;
    }

    .pawiwahan-text,
    .resepsi-text {
        max-width: 250px;
        font-size: 13px;
    }

    .acara-pawiwahan button[type="button"],
    .acara-resepsi button[type="button"] {
        padding: 8px 25px;
        font-size: 12px;
    }

    .time-item {
        padding-left: 14px;
        padding-right: 14px;
    }

    .penutup-acara {
        max-width: 280px;
    }

    .nama-orang-tua {
        gap: 28px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
    .container-cover .wave {
        display: none;
    }

    .container-cover {
        height: 100%;
    }

    .container-cover .content-cover {
        bottom: 10%;
    }

    .penutup-acara {
        max-width: 600px;
    }

    .pawiwahan-text,
    .resepsi-text {
        font-size: 13px;
    }

    .nama-orang-tua {
        gap: 150px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    .detail-acara .text-acara {
        font-size: 32px;
    }

    .acara-pawiwahan,
    .acara-resepsi {
        width: 320px;
    }

    .pawiwahan-text,
    .resepsi-text {
        max-width: 260px;
    }

    .time-box {
        gap: 15px;
    }

    .penutup-acara {
        max-width: 310px;
    }

    .nama-orang-tua {
        gap: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #invitation .ucapan1 {
        margin-top: -45px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .container-cover .content-cover {
        bottom: 15%;
    }

    #invitation h1 {
        margin-top: 30px;
        font-size: 70px;
    }

    .foto-pasangan {
        gap: 70px;
        padding-left: 11px;
        flex-direction: row;
    }

    .pasangan-laki-laki,
    .pasangan-perempuan {
        max-width: 350px;
    }

    .mantra-text {
        padding-left: 40px;
        padding-right: 40px;
    }

    .pasangan-laki-laki .mempelai-laki-laki,
    .pasangan-perempuan .mempelai-perempuan {
        width: 250px;
        height: 250px;
    }

    .acara-pawiwahan,
    .acara-resepsi {
        width: 335px;
    }

    .acara-pawiwahan img,
    .acara-resepsi img {
        height: 350px;
    }

    .time-box {
        gap: 30px;
    }

    .acara-pawiwahan img,
    .acara-resepsi img {
        height: 300px;
    }

    .penutup-acara {
        margin-top: 10px;
        max-width: 660px;
    }

    .nama-orang-tua {
        gap: 300px;
    }

    .pawiwahan-text,
    .resepsi-text {
        max-width: 230px;
        font-size: 15px;
    }

    .acara-pawiwahan button[type="button"],
    .acara-resepsi button[type="button"] {
        padding: 8px 30px;
        font-size: 13px;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    #invitation .ucapan1 {
        margin-top: -48px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #invitation h1 {
        margin-top: 35px;
        font-size: 72px;
    }

    .foto-pasangan {
        gap: 150px;
        margin-left: 0px;
        flex-direction: row;
    }

    .pasangan-laki-laki .mempelai-laki-laki,
    .pasangan-perempuan .mempelai-perempuan {
        width: 260px;
        height: 260px;
    }

    .acara-pawiwahan,
    .acara-resepsi {
        width: 450px;
    }

    .time-box {
        gap: 40px;
    }

    .penutup-acara {
        max-width: 800px;
    }
}